<meta name="naver-site-verification" content="b3ce4b999700e2aef2150158f82df21c492ac67b" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WDLSBVZ9TJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WDLSBVZ9TJ');
</script>
<script>
  function printComputationCoverage(getIndicatorNumber) {
    var indicatorNumber = document.getElementById("indicator_number" + getIndicatorNumber).innerHTML;
    var indicatorType1 = ["1.1.1", "1.1.2", "1.2.1", "1.2.2", "1.2.3", "2.1.1", "2.1.2", "2.2.1", "2.2.2", "2.2.3", "3.1.1", "3.1.2", "3.1.3", "3.2.1", "3.2.2", "4.1.1", "4.1.2", "4.2.1", "4.2.2", "4.2.3", "4.2.4"];
    var indicatorType2 = ["1.1.1", "1.1.2", "1.2.1", "1.2.2", "1.2.3", "2.1.1", "2.1.2", "2.2.1", "2.2.2", "2.2.3", "3.1.1", "3.1.2", "3.1.3", "3.2.1", "3.2.2", "4.1.1", "4.1.2", "4.2.1", "4.2.2", "4.2.3", "4.2.4"];
    var isFind = false;

    console.log(indicatorNumber);
    console.log(indicatorType1.lengh);
	
    for (var i = 0; i < indicatorType1.lengh; i++) {
      if (indicatorNumber.indexOf(indicatorType1[i]) != -1) {
        isFind = true;
        document.getElementById("computation_coverage" + getIndicatorNumber).innerHTML = "[지역범위: 권역]";
	console.log(indicatorNumber);
	console.log("aaa");
        break;
      } else {
	console.log("bbb");
      }
    }
  }
</script>
