<div class="top_div">
	
   <div class="item">
      <div style="margin-bottom:10px">
         <a href="https://kostat-gi.github.io/site/assets/img/report/2022_report.pdf" target="_blank">
            <img src="https://kostat-gi.github.io/site/assets/img/report/2022 수도권 광역지표 분석 보고서.png" alt="1"/>
         </a>
      </div>
      <div>
         <p>2022 수도권 광역지표<br>분석 보고서(PDF)</p>
      </div>
   </div>
   
   <div class="item">
      <div style="margin-bottom:10px">
          <a href="https://kostat-gi.github.io/site/assets/img/report/2022_report_hwp.hwpx" target="_blank">
            <img src="https://kostat-gi.github.io/site/assets/img/report/2022 수도권 광역지표 분석 보고서.png" alt="2"/> 
          </a>
      </div>
      <div>
         <p>2022 수도권 광역지표<br>분석 보고서(HWF)</p>
      </div>
   </div>

   <div class="item">
      <div style="margin-bottom:10px">
         <a href="https://kostat-gi.github.io/site/assets/img/report/press_2022_11_10.pdf" target="_blank">
             <img src="https://kostat-gi.github.io/site/assets/img/report/보도자료.png" alt="3"/>    
          </a>
      </div>
      <div>
         <p style="letter-spacing: -1px">[보도자료]수도권 광역지표<br>개발 및 온라인 시범서비스 시작</p>
      </div>
   </div>

   <!-- <div class="item">
      <div style="margin-bottom:10px">
         <a href="https://kostat-sdg-kor.github.io/sdg-indicators/public/report/15.pdf" target="_blank">
            <img src="https://kostat-sdg-kor.github.io/sdg-indicators/public/report/15.png" alt="4"/>
         </a>
      </div>
      <div>
         <p>SDGs 지표 톺아보기</p>
      </div>
   </div> -->

   <div class="item">
      <div style="margin-bottom:10px">
         <a href="https://kostat-gi.github.io/site/assets/img/report/수도권 광역지표 리플릿.pdf" target="_blank">
            <img src="https://kostat-gi.github.io/site/assets/img/report/수도권광역지표 온라인 서비스 리플릿.jpg" alt="4"/>
         </a>
      </div>
      <div>
         <p>수도권광역지표<br>온라인 서비스 리플릿</p>
      </div>
   </div>	
	
</div>
