table { border-top: 1px solid #0050a3; }
table th { background: #e5eef7; border: 1px solid #ddd; }
table td { border: 1px solid #ddd; }
table th:first-child,
table td:first-child {
	border-left: 0;
}
table th:last-child,
table td:last-child {
	border-right: 0;
}
