.title { position: relative; padding-left: 12px; font-size: 24px; color: #2929d1; }
.title::before { 
    content: '';
    display: block;
    width: 4px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 55%;
    transform: translateY(-50%);
    background: #2929d1;
}

table { border-top: 1px solid #0050a3; font-size: 15px; }
table th { background: #e5eef7; border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 10px; text-align: center; }
table td { border: 1px solid #ddd; padding: 10px; }
table th:first-child,
table td:first-child { border-left: 0; }
table th:last-child,
table td:last-child { border-right: 0; }

.center { text-align:center; }
