.title { position: relative; padding-left: 12px; font-size: 24px; color: #2929d1; }
.title::before { 
    content: '';
    display: block;
    width: 4px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #2929d1;
}

.ask {
   padding: 10px 15px;
   border: 1px solid #ebebeb;
   border-left: 5px solid #2929d1;
   border-radius: 2px;
   background: #f9f9f9;
}
.answer {
   margin-bottom: 50px;
   padding: 20px 10px 20px;
   height: 100%;
   border: 2px solid #ebebeb;
   border-top: 1px solid #ebebeb;
}
