@media (max-width: 800px) {
  .selectDiv {}
}
@media (min-width: 800px) {
  .selectDiv { float: right; margin-top: -50px; }
}
@media (max-width: 800px) {
  .select { background: #252a33; width: 100%; padding: 10px; font-size: 14px; font-weight: bold; }
}
@media (min-width: 800px) {
  .select { background: #252a33; width: 200px; padding: 10px; font-size: 14px; font-weight: bold; }
}
