@media (max-width: 800px) {
  .selectDiv { margin-bottom: 10px; }
}
@media (min-width: 800px) {
  .selectDiv { float: right; }
}
@media (max-width: 800px) {
  .select { background: #252a33; width: 100%; padding: 10px; font-size: 14px; font-weight: bold; }
}
@media (min-width: 800px) {
  .select { background: #252a33; width: 200px; padding: 10px; font-size: 14px; font-weight: bold; }
}
