@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Nanum+Myeongjo:wght@400;700&family=Noto+Sans+KR:wght@100;400;600&family=Noto+Serif+KR:wght@400;600&display=swap');

@font-face {
    font-family: 'SUIT';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SUIT';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraBold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

/*
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
*/
body {
	margin:0px!important;
	padding:0px!important;
	font-family: 'SUIT', 'Noto Sans KR', 'Nanum Gothic', sans-serif;
	font-weight: normal;
	display: flex;
	flex-direction: column;
	/*font-family: 'Noto Serif KR', 'Nanum Myeongjo', sans-serif;*/
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

#skiplink {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
	width: 250px;
	left: 50%;
	margin-left: -125px;
	padding: 10px;
	background: white;
	text-align: center;
	border: 1px solid #0b0c0c;
	color: #0b0c0c;
	display: block;
}

h1,h2,h3,h4,
p {
	user-select: none;
}

header .container2 {
	position:relative;
	height: 456px;
	overflow: hidden;
}
header .container2 .bg-left,
header .container2 .bg-right {
	width: 50%;
	height: 100%;
	background-repeat: repeat-x;
	display:inline-block;
}
header .container2 .bg-left {
	background-image: url(../../img/main/bgs01.jpg);
}
header .container2 .bg-right {
	background-image: url(../../img/main/bgs02.jpg);
}

header .main-bg {
	position:absolute;
	margin:auto;
	top:0; left:0; right:0;
	width: 100%;
	height: 100%;
	background: url(../../img/main/main_bg.jpg) no-repeat;
	background-position: 50% 0%;
	color:#fff;
	text-align: center;
	display: flex;
    flex-direction: column;
    align-items: center;
}

header .main-bg h1 {
	margin: 100px 0px 0px;
    font-size: 46px;
	font-weight: 900;
}

header .main-bg h2 {
	margin: 10px 0 0 0;
    font-size: 34px;
	font-weight: bold;
}

header .main-bg>p {
	margin: 20px 0 0;
    font-size: 20px;
    line-height: 32px;
	max-width: 530px;
}
header .main-bg>p::after {
	content:'광역생활권인 수도권의 경쟁력과 발전, 지역민의 생활을\a조망할 수 있는 지표체계를 개발하여 온라인으로 서비스합니다.';
	white-space: pre;
}
header .main-bg ul {
	list-style: none;
	padding: 0px;
	margin-top: 14px
}
header .main-bg ul>li {
	position: relative;
	display: inline-block;
	width:154px;
	height:55px;
	background-color:rgba(255,255,255,0.66);
	border-radius: 49px;
	padding: 6px;
    box-sizing: border-box;
	margin: 0 5px;
	border: 3px solid transparent;
	cursor:pointer;
}
header .main-bg ul>li>p {
	margin: auto;
	font-size: 17px;
    font-weight: bold;
    background-color: #fff;
    border-radius: 49px;
    line-height: 37px;
	box-shadow: 0px 0px 5px 5px #b58869;
}
header .main-bg ul>li:nth-child(1) {
	color: #096f3f;
}
header .main-bg ul>li:nth-child(2) {
	color: #ae343d;
}
header .main-bg ul>li:nth-child(3) {
	color: #0e4b87;
}
header .main-bg ul>li:nth-child(1):hover {
	border: 3px solid #096f3f;
}
header .main-bg ul>li:nth-child(2):hover {
	border: 3px solid #ae343d;
}
header .main-bg ul>li:nth-child(3):hover {
	border: 3px solid #0e4b87;
}

header .main-bg .map {
	position: absolute;
    bottom: 80px;
    left: 342px;
    width: 279px;
    height: 321px;
    background: url(../../img/main/map01.png) no-repeat;
	background-position: 0 100%;
	background-size: 100% auto;
    margin-left: 50%;
	transition: all 0.2s;
}
#main-content {
	padding: 0 0 150px 0 !important;
    width: 100%!important;
	overflow: hidden;
}
#main-content .section {
	padding: 10px;
	text-align: center;
}
#main-content .goal-tiles {
	width: 980px;
	margin: auto;
	text-align: center;
}

#main-content .section h3 {
	position: relative;
	font-size: 38px;
	margin-top: 90px;
	font-weight: 900;
}
#main-content .section h3::after {
	content:'';
	display: block;
	width: 53px;
	height: 1px;
	margin:30px auto;
	background-color: #096f3f;
}
#main-content .section.sec02 h3::after {
	background-color: #ae343d;
}
#main-content .section.sec03 h3::after {
	background-color: #0e4b87;
}
#main-content .section h4 {
	font-size: 22px;
	margin-bottom:43px;
	font-weight: bold;
}
#main-content ul {
	list-style: none;
	padding: 0px;
	margin:0px;
	margin-bottom:30px;
	text-align: center;
	display: flex;
	align-items: flex-start;
    justify-content: space-between;
}



#main-content ul.gbuttons {
	display: inline-block;
}
#main-content ul.gbuttons:nth-of-type(1) {
	margin-right:20px;
}
#main-content ul.gbuttons>li {
	margin: 0 10px;
}
#main-content ul.gbuttons>li:first-child {
	margin-left: 0px;
}
#main-content ul.gbuttons>li:last-child {
	margin-right: 0px;
}
#main-content ul.dbuttons {
	margin-bottom: 90px;
}
#main-content ul>li {
	display: inline-block;
}


#main-content ul>li.gbutton {
	position: relative;
    width: 225px;
    height: 234px;
    background-color: #fff;
    box-shadow: 7px 7px 7px 1px rgba(0,0,0,0.3);
	cursor: pointer;
}
#main-content ul>li.gbutton:hover img {
	filter: brightness(0) invert(1);
}
#main-content .sec01 ul>li.gbutton:hover {
	background-color: #096f3f;
	color: #fff;
}
#main-content .sec02 ul>li.gbutton:hover {
	background-color: #d3112c;
	color: #fff;
}
#main-content .sec03 ul>li.gbutton:hover {
	background-color: #0e4b87;
	color: #fff;
}

#main-content .sec02 ul>li.gbutton {
    width: 312px;
}
#main-content ul>li.dbutton {
	position: relative;
    width: 313px;
    height: 216px;
}

#main-content div.sec01 {
	color: #096f3f;
	background-color: #e3eeea;
}

#main-content div.sec02 {
	color: #ae343d;
	background-color: #f1dfe0;
}

#main-content div.sec03 {
	color: #0e4b87;
	background-color: #deedf4;
}

#main-content .gbutton>img {
	position: absolute;
	margin:auto;
	min-height: 62px;
	bottom: 130px;
    left: 0; right: 0;
}
#main-content .gbutton>p {
	margin: 120px 0 20px;
	font-size: 28px;
	font-weight: bold;
}

.ico01 {
	width: 63px; height: 63px;
	background: url(../../img/main/ico01.svg) no-repeat center;
	background-size: 100% auto;
}
.ico01:hover {
	filter: brightness(0) invert(1);
}

button.golink {
	width: 88px; height: 26px;
	cursor: pointer;
	border: 0px; outline: 0px;
	border-radius: 88px;
	text-align:left;
	padding-left: 15px;
	font-size: 10px;
	font-weight: bold;
	color:#fff;
	background-repeat:no-repeat;
	background-color: #096f3f;
	background-image: url(../../img/main/arrow00.svg);
	background-position: 87% 50%;
	background-size: 16px auto;
}
button.golink::before {
	content: '바로가기';
}
.gbutton:hover button.golink {
	background-color: #fff;
	color: #096f3f;
	background-image: url(../../img/main/arrow01.svg);
}

.sec02 button.golink {
	background-color: #ae343d;
}
.sec02 .gbutton:hover button.golink {
	color: #ae343d;
	background-image: url(../../img/main/arrow02.svg);
}

.sec03 button.golink {
	background-color: #0e4b87;
}
.sec03 .gbutton:hover button.golink {
	color: #0e4b87;
	background-image: url(../../img/main/arrow03.svg);
}

li.dbutton {
	width: 313px;
	height: 216px;
	background-repeat: no-repeat;
	background-size: 100% auto;
	transition: all 0.2s;
}
li.dbutton:hover {
	filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
}
/* li.dbutton:hover {
	box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.3);
	transform: translate(-5px, -5px);
} */
li.dbutton>p {
	color: #fff;
	font-size: 20px;
	line-height: 55px;
	padding-left: 20px;
	font-weight: bold;
	margin: 0;
    text-align: left;
	cursor: pointer;
	transform-origin: 0 0;
}
li.dbutton.dbtn02>p {
	transform: scaleX(0.83);
	width: 150%;
}
li.dbutton.dbtn06>p {
	transform: scaleX(0.9);
	width: 150%;
}
li.dbutton.dbtn09>p {
	transform: scaleX(0.9);
	width: 150%;
}
li.dbutton>p>span.desc {
	font-size: 12px;
	padding-left: 5px;
	font-weight: normal;
}
li.dbutton.dbtn01 {
	background-image: url(../../img/main/d01.svg);
}
li.dbutton.dbtn02 {
	background-image: url(../../img/main/d02.svg);
}
li.dbutton.dbtn03 {
	background-image: url(../../img/main/d03.svg);
}
li.dbutton.dbtn04 {
	background-image: url(../../img/main/d04.svg);
}
li.dbutton.dbtn05 {
	background-image: url(../../img/main/d05.svg);
}
li.dbutton.dbtn06 {
	background-image: url(../../img/main/d06.svg);
}
li.dbutton.dbtn07 {
	background-image: url(../../img/main/d07.svg);
}
li.dbutton.dbtn08 {
	background-image: url(../../img/main/d08.svg);
}
li.dbutton.dbtn09 {
	background-image: url(../../img/main/d09.svg);
}

.swiper {
	position:relative;
	width: 100%;
	height: 215px;
	margin-bottom: 90px;
}

.swiper-button-prev {
	filter: grayscale(1);
	display: none;
	transform: translateX(-60px);
}
.swiper-button-next {
	filter: grayscale(1);
	display: none;
	transform: translateX(60px);
}

.swiper-pagination {
	bottom: 0px!important;
	display: none;
}

.swiper-pagination-bullet {
	width:10px;
	height: 10px;
}

.sec01 .swiper-pagination-bullet-active {
	background-color: #0c713c;
}

.sec02 .swiper-pagination-bullet-active {
	background-color: #b1313a;
}

.sec03 .swiper-pagination-bullet-active {
	background-color: #134d87;
}

@media (max-width: 290px) {
	header .main-bg ul>li {
		width: 80px!important;
	}
	.swiper {
		width: 260px!important;
		display: inline-block;
	}
	#main-content .gbutton>p {
		margin: 120px 0 20px;
		font-size: 17px!important;
	}
}

/* Mobile - Portrait */
@media (max-width: 576px) {
	header .main-bg h1 {
		margin: 80px 0px 0px;
		font-size: 40px;
	}
	header .main-bg h2 {
		font-size: 28px;
	}
	header .main-bg>p {
		margin: 50px 0 0;
		line-height:20px;
	}
	header .main-bg>p::after {
		content:'광역생활권인 수도권의\a경쟁력과 발전, 지역민의 생활을\a조망할 수 있는 지표체계를\a개발하여 온라인으로 서비스합니다.';
		font-size:13px;
	}
	header .main-bg .map {
		left: 95px;
		right: auto;
		width: 170px;
		bottom: 115px;
	}
	header .main-bg {
		background-position-x:35%;
	}
	header .main-bg ul {
		margin-top: 50px
	}
	header .main-bg ul>li {
		width:100px;
		height:55px;
		margin: 0 0px;
	}
	header .main-bg ul>li>p {
		font-size:14px;
	}

	#main-content .goal-tiles {
		width: 100%;
	}
	#main-content ul.gbuttons:nth-of-type(1) {
		margin-right: 0px;
		margin-bottom: 14px;
	}
	#main-content ul.gbuttons>li {
		margin: 0 7px;
	}
	#main-content ul.gbuttons {
		display:block;
	}
	#main-content ul>li.gbutton {
		width: 200px;
		height: 230px;
		max-width: 45%;
	}

	#main-content .sec02 ul>li.gbutton {
		width: 210px;
	}
	#main-content .gbutton>img {
		min-height: 62px;
		bottom: 130px;
	}
	#main-content .gbutton>p {
		margin: 120px 0 20px;
		font-size: 20px;
	}
	button.golink {
		width: 88px; height: 26px;
	}
/*	button.golink {
		width: 88px; height: 26px;
		background-image:none;
		padding:0;
		text-align:center;
	} */
	#main-content ul>li.dbutton {
		width: 313px!important;
		height: 216px;
	}
	li.dbutton>p {
		/* font-size: 9px; */
		/* line-height: 31px; */
		padding-left: 10px;
	}

	.swiper {
		width: 315px;
		display: inline-block;
	}

	.swiper-slide {
		opacity: 0.1;
	}

	.swiper-slide.swiper-slide-active {
		opacity: 1;
	}

	.swiper-pagination {
		bottom: -40px!important;
		display: block;
	}
	.swiper-button-prev,
	.swiper-button-next {
		display: block;
	}

	#main-content ul.dbuttons {
		margin-bottom: 60px;
	}
}

@media (min-width: 577px) {
	header .main-bg h1 {
		margin: 60px 0px 0px;
		font-size: 40px;
	}
	header .main-bg h2 {
		font-size: 28px;
	}
	header .main-bg>p {
		margin: 30px 0 0;
	}
	header .main-bg>p::after {
		content:'광역생활권인 수도권의\a경쟁력과 발전, 지역민의 생활을\a조망할 수 있는 지표체계를\a개발하여 온라인으로 서비스합니다.';
		font-size: 21px;
	}
	header .main-bg .map {
		left: 150px;
		right: auto;
		width: 210px;
		bottom: 110px;
	}
	header .main-bg {
		background-position-x:35%;
	}
	header .main-bg ul {
		margin-top: 50px
	}
	header .main-bg ul>li {
		width:140px;
		height:55px;
		padding: 6px;
		margin: 0 0px;
	}
	header .main-bg ul>li>p {
		font-size:15px;
	}

	#main-content .goal-tiles {
		width: 550px;
	}
	#main-content ul.gbuttons:nth-of-type(1) {
		margin-right:10px;
	}
	#main-content ul.gbuttons>li {
		margin: 0 5px;
	}
	#main-content ul>li.gbutton {
		width: 125px;
		height: 130px;
	}
	#main-content .sec02 ul>li.gbutton {
		width: 174px;
	}
	#main-content .gbutton>img {
		height: 35px;
		min-height: 35px;
		bottom: 80px;
	}
	#main-content .gbutton>p {
		margin: 55px 0 10px;
		font-size: 16px;
	}
	button.golink {
		width: 60px; height: 26px;
		background-image:none;
		padding:0;
		text-align:center;
	}
	#main-content ul>li.dbutton {
		height: 182px;
	}
	li.dbutton>p {
		padding-left: 10px;
		font-size: 16px;
		line-height: 48px;
	}

	.swiper {
		height: 215px;
	}

	.swiper-pagination {
		display: block;
	}
	#main-content ul.dbuttons {
		margin-bottom: 60px;
	}
}

/* Mobile - Landscape */
@media (min-width: 768px) {
	header .main-bg h1 {
		margin: 60px 0px 0px;
	}
	header .main-bg h2 {

	}
	header .main-bg>p {
		margin: 30px 0 0;
	}
	header .main-bg>p::after {
		content:'광역생활권인 수도권의\a경쟁력과 발전, 지역민의 생활을\a조망할 수 있는 지표체계를\a개발하여 온라인으로 서비스합니다.';
	}
	header .main-bg .map {
		left: auto;
		right: 20px;
		width: 250px;
		bottom: 100px;
	}
	header .main-bg {
		background-position-x:45%;
	}
	header .main-bg ul {
		margin-top: 50px
	}
	header .main-bg ul>li {
		width:154px;
		height:55px;
		padding: 6px;
		box-sizing: border-box;
		margin: 0 0px;
	}
	header .main-bg ul>li>p {
		font-size: 17px;
	}

	#main-content .goal-tiles {
		width: 760px;
	}
	#main-content ul.gbuttons:nth-of-type(1) {
		margin-right:8px;
	}
	#main-content ul.gbuttons>li {
		margin: 0 4px;
	}
	#main-content ul>li.gbutton {
		width: 180px;
		height: 190px;
	}
	#main-content .sec02 ul>li.gbutton {
		width: 240px;
	}
	#main-content .gbutton>img {
		height: 50px;
		min-height: 50px;
		bottom: 110px;
	}
	#main-content .gbutton>p {
		margin: 95px 0 10px;
		font-size: 22px;
	}
	button.golink {
		width: 88px;
		height: 26px;
		background-image: url(../../img/main/arrow00.svg);
		padding-left: 15px;
		text-align: left;
	}
	#main-content ul>li.dbutton {
/*		width: 240px;
		height: 165px; */
		width: 313px;
		height: 216px;
	}
	li.dbutton>p {
		font-size: 14px;
		line-height: 42px;
		padding-left: 10px;
	}

	.swiper-pagination {
		display: none;
	}
	#main-content ul.dbuttons {
		margin-bottom: 90px;
	}

	.swiper {
		height: 166px;
	}
}

/* Tablet */
@media (min-width: 992px) {
	header .main-bg h1 {
		margin: 100px 0px 0px;
	}
	header .main-bg h2 {
		margin: 10px 0 0 0;
	}
	header .main-bg>p {
		margin: 60px 0 0;
	}
	header .main-bg>p::after {
		content:'광역생활권인 수도권의 경쟁력과 발전, 지역민의 생활을\a조망할 수 있는 지표체계를 개발하여 온라인으로 서비스합니다.';
	}
	header .main-bg .map {
		left: auto;
		right: 20px;
		width: 250px;
		bottom: 80px;
	}
	header .main-bg {
		background-position-x:45%;
	}
	header .main-bg ul {
		margin-top: 50px
	}
	header .main-bg ul>li {
		width:154px;
		height:55px;
		padding: 5px;
		box-sizing: border-box;
		margin: 0 0px;
	}
	header .main-bg ul>li>p {
		font-size: 17px;
	}

	#main-content .goal-tiles {
		width: 980px;
	}
	#main-content ul.gbuttons:nth-of-type(1) {
		margin-right:20px;
	}
	#main-content ul.gbuttons>li {
		margin: 0 10px;
	}
	#main-content ul>li.gbutton {
		width: 225px;
		height: 234px;
	}
	#main-content .sec02 ul>li.gbutton {
		width: 310px;
	}
	#main-content .gbutton>img {
		min-height: 62px;
		bottom: 130px;
	}
	#main-content .gbutton>p {
		margin: 120px 0 20px;
		font-size: 28px;
	}
	button.golink {
		width: 88px; height: 26px;
	}
	#main-content ul>li.dbutton {
		width: 313px;
		height: 216px;
	}
	li.dbutton>p {
		font-size: 20px;
		line-height: 55px;
		padding-left: 20px;
	}
	.swiper {
		width: 100%;
		height: 215px;
	}
}

/* Desktop */
@media (min-width: 1200px) {
	header .main-bg h1 {
		margin: 100px 0px 0px;
		font-size: 49px;
	}
	header .main-bg h2 {
		margin: 10px 0 0 0;
		font-size: 34px;
	}
	header .main-bg>p {
		margin: 40px 0 0;
		font-size: 20px;
		line-height: 32px;
		max-width: 530px;
	}
	header .main-bg .map {
		bottom: 80px;
		left: 342px;
		width: 279px;
		height: 321px;
	}
	header .main-bg {
		background-position-x:50%;
	}
	header .main-bg ul {
		margin-top: 50px
	}
	header .main-bg ul>li {
		width:154px;
	}
}
